.container {
  height: 100%;
  overflow: hidden;
  background: radial-gradient(62.36% 124.36% at 88.66% 0%, rgba(0, 102, 255, 0.33) 0%, rgba(0, 0, 0, 0.33) 100%), radial-gradient(45.3% 135.72% at 5.78% 8.67%, rgba(36, 0, 255, 0.66) 0%, rgba(0, 0, 0, 0.66) 100%), radial-gradient(59.56% 59.56% at 43.3% 89%, #9E00FF 0%, #000000 100%);
  position: relative;

  .rings {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(-412px * 0.7);
    pointer-events: none;
    z-index: 0;
  }

  .logo {
    position: absolute;
    width: 232px;
    height: 72px;
    left: 24px;
    top: 24px;
    background: #111;
    border: 1px solid #444;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }

  .signInButton {
    position: absolute;
    width: 205px;
    height: 72px;
    top: 24px;
    right: 24px;
    background: #111;
    border: 1px solid #444;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;

    >img {
      margin-left: 12px;
    }

    &:hover {
      background: #171717;
    }
  }

  .signOutButton {
    position: absolute;
    width: 167px;
    height: 72px;
    top: 24px;
    right: 24px;
    background: #111;
    border: 1px solid #444444;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;

    >img {
      margin-right: 8px;
    }

    &:hover {
      background: #171717;
    }
  }

  .content {
    height: 100%;
    padding: 40px;
    overflow: auto;

    >.loading {
      position: absolute;
      top: 240px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      width: 500px;
      color: #fff;
      opacity: 1;
      transition: 1s;

      &.faded {
        opacity: 0;
      }

      >p {
        margin: 0 0 16px 0;
        font-size: 24px;
      }
    }

    >.reset {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;

      >button {
        padding: 0 40px;
        height: 56px;
        font-size: 24px;
        background: var(--spotify-green);
        border: 0;
        color: #fff;
        border-radius: 32px;

        &:hover {
          background: var(--spotify-green-alt);
        }
      }
    }

    >.form {
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      color: #fff;
      max-width: 660px;
      margin: 0 auto;
      margin-top: 120px;

      >.formTitle {
        opacity: 1;
        transition: 0.5s;

        &.faded {
          opacity: 0;
          pointer-events: none;
        }

        >div {
          display: flex;
          align-items: flex-end;
          margin-bottom: 12px;

          >p {
            font-size: 32px;
            margin: 0;
            position: relative;
            top: 8px;
          }
        }

        >p {
          font-size: 32px;
          margin: 0;
          line-height: 48px;
        }
      }

      >form {
        margin-top: 40px;
        display: flex;
        position: absolute;
        top: 320px;
        transition: 1s;

        &.raised {
          top: 0;
        }

        >input {
          width: 460px;
          height: 56px;
          background: #111;
          border: 1px solid #444;
          box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
          border-radius: 8px;
          font-size: 27px;
          color: #ccc;
          z-index: 2;
          padding: 12px 52px 12px 12px;
          text-overflow: ellipsis;
        }

        >button {
          position: absolute;
          right: 0;
          width: 56px;
          height: 56px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: transparent;
          border: 0;
          z-index: 3;

          &:hover {
            filter: brightness(0) saturate(100%) invert(12%) sepia(100%) saturate(4787%) hue-rotate(254deg) brightness(109%) contrast(108%);
          }
        }
      }
    }

    .tracks {
      flex-direction: column;
      align-items: center;
      overflow: scroll;
      display: flex;
      margin: 0 auto;
      margin-top: -180px;
    }
  }

  .copyright {
    position: fixed;
    right: 8px;
    bottom: 8px;
    margin: 0;
  }
}
