.container {
  height: 100%;
  overflow: hidden !important;
  background: radial-gradient(62.36% 124.36% at 88.66% 0%, rgba(0, 102, 255, 0.33) 0%, rgba(0, 0, 0, 0.33) 100%), radial-gradient(45.3% 135.72% at 5.78% 8.67%, rgba(36, 0, 255, 0.66) 0%, rgba(0, 0, 0, 0.66) 100%), radial-gradient(59.56% 59.56% at 43.3% 89%, #9E00FF 0%, #000000 100%);
  position: relative;

  .blackBackground {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    z-index: 9;

    &.faded {
      opacity: 0;
      pointer-events: none;
    }
  }

  .blueOutline {
    position: absolute;
    z-index: 99;
    max-height: 100%;
    max-width: 100%;
    height: 500px;
    width: 10px;
    border-top: 5px solid #00f;
    border-bottom: none;
    border-left: 5px solid #00f;
    border-right: none;

    &.faded {
      opacity: 0;
      pointer-events: none;
    }
  }

  .rings {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(-412px * 0.7);
    pointer-events: none;
    z-index: 0;
  }

  .logo {
    position: absolute;
    padding: 0 16px;
    height: 56px;
    left: 24px;
    top: 24px;
    background: #111;
    border: 1px solid #444;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;

    >img {
      margin-right: 4px;
    }

    >h1 {
      color: #fff;
      font-weight: 500;
      margin: 0;
    }
  }

  .spotifyContainer {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    z-index: 5;

    img {
      @media(max-width: 1199.98px) {
        position: absolute;
        right: 12px;
        top: 0px;
        margin-top: 12px;
      }
    }

    .accountButton {
      width: 225px;
      font-size: 24px;
      background: #111;
      color: #fff;
      margin: 16px 8px 10px;
      border: 1px solid #444;
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      padding: 0 16px;
      
      &:hover {
        background: #171717;
      }

      @media(max-width: 1199.98px) {
        margin-top: 60px !important;
      }

      @media(max-width: 1199.98px) {
        right: 8px;
      }      
    }
  }

  .content {
    height: 100%;
    overflow: auto;

    @media (max-width: 1199.98px) {
      overflow: hidden;
    }

    ::-webkit-scrollbar {
      display: none;
    }

    >.loading {
      position: absolute;
      top: 240px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      width: 500px;
      color: #fff;
      opacity: 1;
      transition: 1s;
      z-index: 10;

      &.faded {
        opacity: 0;
      }

      >p {
        margin: 0 0 16px 0;
        font-size: 24px;
      }
    }

    >.form {
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      color: #fff;

      .smallHidden {
        @media (max-width: 767.98px) {
          display: none;
        }
      }

      .smallShown {
        @media (min-width: 768px) {
          display: none;
        }
      }

      .tinyHidden {
        @media (max-width: 499.98px) {
          display: none;
        }
      }

      .tinyShown {
        @media (min-width: 500px) {
          display: none;
        }
      }

      >.formTitle {
        opacity: 1;
        transition: 0.5s;
        position: absolute;
        max-width: 660px;
        top: 160px;
        margin: 0 40px;

        &.faded {
          opacity: 0;
          pointer-events: none;
        }

        >div {
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 100vw;

          @media (max-width: 767.98px) {
            flex-direction: column;
            align-items: center;
          }

          >.titleLogo {
            display: flex;
            align-items: center;

            >img {
              margin-right: 6px;
            }

            >h1 {
              margin: 0;
              font-weight: 500;
              font-size: 56px;
              margin-right: 12px;

              @media (max-width: 470.98px) {
                font-size: 42px;
              }
            }
          }

          >p {
            font-size: 32px;
            margin: 0;
            position: relative;
            top: 8px;
          }
        }

        >p {
          font-size: 32px;
          margin: 0 8px;
          line-height: 52px;

          @media (max-width: 513.98px) {
            font-size: 24px;
            line-height: 44px;
          }
        }
      }

      >form {
        display: flex;
        position: absolute;
        top: 360px;
        transition: 1s;

        @media (max-width: 767.98px) {
          top: 400px;
        }

        @media (max-width: 595.98px) {
          top: 440px;
        }

        @media (max-width: 513.98px) {
          top: 400px;
        }

        @media (max-width: 470.98px) {
          top: 440px;
        }

        &.raised {
          top: 24px;
          z-index: 10;

          @media (max-width: 1199.98px) {
            top: 160px;
          }
        }

        >input {
          width: 600px;
          max-width: calc(100vw - 48px);
          height: 56px;
          background: #111;
          border: 1px solid #444;
          box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
          border-radius: 8px;
          font-size: 27px;
          color: #ccc;
          z-index: 2;
          padding: 12px 52px 12px 12px;

          &:active {
            outline: 2px solid #5024ff;
          }

          &:focus {
            outline: 2px solid #5024ff;
          }
        }

        >button {
          position: absolute;
          right: 8px;
          width: 42px;
          height: 56px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: transparent;
          border: 0;
          z-index: 3;

          &:hover {
            filter: brightness(0) saturate(100%) invert(12%) sepia(100%) saturate(4787%) hue-rotate(254deg) brightness(109%) contrast(108%);
          }
        }
      }
    }

    .tracks {
      flex-direction: column;
      align-items: center;
      display: flex;
      margin: 120px 0 20px 0;

      @media (max-width: 1199.98px) {
        margin-top: 215px;
        overflow: auto;
        height: calc(100vh - 200px);
      }
    }
  }

  .submitIcon {
    &.faded {
      opacity: 0;
      pointer-events: none;
    }
  }

  .refinePopup {
    max-width: 150px;
    top: -8px;
    height: 72px;
    background-color: white;
    color: #000;
    position: absolute;
    right: 108px;
    z-index: 10;
    font-size: 14px;

    &.faded {
      opacity: 0;
      pointer-events: none;
    }
  }

  .refinePopupX {
    font-size: 24px;
    position: relative;
    left: 50px;
  }

  .yellowIcon {
    color: #ffc107;
    width: 48px;
    height: 48px;
  }

  .popupContainer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    >.popup {
      background: #fff;
      max-width: calc(100vw);
      width: 400px;
      height: 140px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      box-shadow: 0 0 8px #fff;
      z-index: 10;

      >button {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 36px;
        height: 36px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        border-radius: 24px;
        color: #000;
        background: rgba(255, 0, 0, 0.3);

        &:hover {
          background: rgba(255, 0, 0, 0.4);
        }
      }

      >p {
        margin: 0 0 8px 0;
        font-style: italic;
      }

      >form {
        >input {
          border: 2px solid #000;
          height: 36px;
          padding: 0 8px;
          margin-right: 4px;
          border-radius: 8px;
        }

        >button {
          border: 2px solid #000;
          height: 36px;
          padding: 0 8px;
          background: #2196f3;
          color: #fff;
          border-radius: 8px;

          &:hover {
            background: #0c88ed;
          }
        }
      }
    }
  }
}
