:root {
  --header: 80px;
  --spotify-green: #1db954;
  --spotify-green-alt: #1ed760;
  --spotify-black: #191414;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

html,
body,
#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
}
